.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.menu a {
    text-decoration: none;
    color: #000;
    font-size: 1.125rem;
    padding: 10px 20px;
}

.menu a:hover {
    background-color: #9BA6C3;
}

#btnMenu {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}

.js #btnMenu div {
    width: 32px;
    height: 2px;
    background: #141414;
    margin: 6px 0;
    transition: 0.4s;
}

@media(max-width: 800px){
    .menu a {
        font-size: 1.125rem;
        padding: 5px;
    }
}

@media(max-width: 600px) {
    .js .header {
        position: sticky;
        top: 0;
        z-index: 1;
        background:rgba(155, 166, 195, 0.5);
        padding: 10px 20px;
    }

    .js #btnMenu {
        display: block;
    }

    .js .menu {
        display: block;
        position: fixed;
        width: 100vw;
        top: 68px;
        right: -100vw;
        height: calc(100vh - 68px);
        background: #F5F5F5;
        transform: translateX(100%);
        z-index: 1000;
        transition: 0.4s;
    }

    .js .nav.ativo .menu {
        transform: translateX(0);
        right: 0;
    }

    .js .menu a {
        font-size: 1.5rem;
        padding: 16px 0;
        margin: 0 20px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }

    .js .nav.ativo .linha1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .js .nav.ativo .linha2 {
        opacity: 0;
    }

    .js .nav.ativo .linha3 {
        transform: rotate(45deg) translate(-2px, -4px);
    }
}